html, body {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    color: #FFFFFF;
}

.landing {
    background: #111111;
    display: block;
    height: 100%;
    min-height: 100;
    width: 100%;
    background-size: cover;
    position:  relative;
}

.landing-welcome{
    top: 32%;
    padding: 3%;
}

.landing-hello {
    font-size: 50px;
}

.landing-name {
    font-size: 100px;
}

.landing-occupation {
    font-size: 40px;
    font-weight: lighter;
}

.darker-left {
    overflow: hidden;
    display:block;
    background: #121212;
    padding: 5% 5% 5% 5%;
    color: #f8f8f8;
}

.darker-left-title{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.darker-left-sub{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.lighter-right {
    display:block;
    overflow: hidden;
    background: #181818;
    padding : 5% 5% 5% 5%;
    color: #f4f4f4;
    clear: left;
}

.lighter-right-title {
    text-align: left;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.lighter-right-sub {
    text-align: left;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.lighter-left {
    overflow: hidden;
    background: #181818;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    color: #f4f4f4;
}

.lighter-left-title{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.lighter-left-sub{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.darker-right {
    overflow: hidden;
    background: #121212;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    color: #f8f8f8;
}

@media only screen and (max-width: 550px) {
    .landing-welcome{
        top: 32%;
        padding: 3%;
    }

    .landing-hello {
        font-size: 35px;
    }

    .landing-name {
        font-size: 60px;
    }

    .landing-occupation {
        font-size: 25px;
        font-weight: lighter;
    }

}
