html, body {
    height: 100%;
    width: 100%;
}

.landing {
    background: #111111;
    display: block;
    height: 100%;
    min-height: 100;
    width: 100%;
    background-size: cover;
    position:  relative;
    padding: 22% 3%;
}

.landing-hello {
    width:  100%;
    display:  block;
    overflow:  hidden;
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
    padding-left: 3px;
}

.landing-title {
    top: -8.5%;
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 100px;
    font-family: 'Exo', sans-serif;
}

.landing-sub {
    top: -16.5%;
    left: +5px;
    position:  relative;
    width: 100%;
    display: block;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.darker-left {
    overflow: hidden;
    background: #121212;
    padding: 5% 5% 5% 5%;
    color: #f8f8f8;
}

.darker-left-title{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.darker-left-sub{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.lighter-right {
    overflow: hidden;
    background: #181818;
    padding : 5% 5% 5% 5%;
    color: #f4f4f4;
}

.lighter-right-title {
    text-align: left;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.lighter-right-sub {
    text-align: left;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.lighter-left {
    overflow: hidden;
    background: #181818;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    color: #f4f4f4;
}

.lighter-left-title{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.lighter-left-sub{
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
}

.darker-right {
    overflow: hidden;
    background: #121212;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    color: #f8f8f8;
}